/* Header */
header {
    height: 138px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 1rem 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-bottom: var(--morado-autoinsights) 1px solid;
    position: relative;
    width: 100%;
}

.header-auth {
    height: 138px;
    background-color: var(--morado-autoinsights);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header .logo img {
    height: 125px;
    width: 314px;
    margin-left: 96px;
}

.header-auth .logo img {
    height: 125px;
    width: 314px;
    margin-left: 96px;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav ul li a {
    text-decoration: none;
    color: var(--blanco);
    font-weight: bold;
    transition: var(--transicion);
}

.nav ul li a:hover {
    color: var(--gris-claro);
    text-decoration: underline;
}

.nav ul li a {
    align-items: center;
    text-transform: uppercase;
    font-weight: normal; /* Establece el peso de la fuente como normal */
    font-size: 20px;
    margin-right: 42px;
}

.nav ul li i{
    color: #fff;
    margin-right: 10px;
}

/* Menu toggle styling (only for small screens) */
.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 1.8rem;
    color: white;
}

@media (max-width: 768px) {
    header .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-align: center;
    }
    header .logo img {
        margin-left: 0;
        align-self: center;
    }
    .header-auth .logo img {
        height: auto;
        width: 80%;
        margin-left: 0;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
    }
    

    .nav {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        background-color: inherit;
        text-align: center;
        z-index: 999;
    }

    .nav ul {
        flex-direction: column;
        gap: 15px;
        padding: 20px 0;
    }

    .nav.active {
        display: block;
        transition: all 0.3s ease-in-out;
    }
    
}