/* Header */
.header {
    height: 138px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 1rem 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-bottom: var(--morado-autoinsights) 1px solid;
}

.header-auth {
    height: 138px;
    background-color: var(--morado-autoinsights);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header .logo img {
    height: 125px;
    width: 314px;
    margin-left: 96px;
}

.header-auth .logo img {
    height: 125px;
    width: 314px;
    margin-left: 96px;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav ul li a {
    text-decoration: none;
    color: var(--blanco);
    font-weight: bold;
    transition: var(--transicion);
}

.nav ul li a:hover {
    color: var(--gris-claro);
    text-decoration: underline;
}

.nav ul li {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: normal; /* Establece el peso de la fuente como normal */
}

.nav ul li i{
    color: #fff;
    margin-right: 5px;
}

@media (max-width: 768px) {
    .header .logo img {
        height: auto;
        width: 80%;
        margin-left: 0;
    }
    .header-auth .logo img {
        height: auto;
        width: 80%;
        margin-left: 0;
    }
}