/* Header */
.header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-bottom: var(--morado-autoinsights) 1px solid;
}

.header .logo img {
    height: 125px;
    width: 314px;
    margin-left: 96px;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav ul li a {
    text-decoration: none;
    color: var(--blanco);
    font-weight: bold;
    transition: var(--transicion);
}

.nav ul li a:hover {
    color: var(--gris-claro);
    text-decoration: underline;
}