<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Firma</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sign.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    {% if current_user.is_authenticated %}
    <header class="header-auth">
        <div class="logo">
            <a href="/"><img src="/static/img/navbar/AUTOINSIGHTS-WHITE.png" alt="logo"></a>
        </div>
        <nav class="nav">
            <ul>
                <li><i class="fa-solid fa-house"></i><a href="/">Inicio</a></li>
                <li><i class="fa-solid fa-pen-to-square"></i><a href="/firmados">Firmados</a></li>
                <li><i class="fa-solid fa-right-from-bracket"></i><a href="/logout">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </header>
    {% else %}
    <header class="header">
        <div class="logo">
            <img src="/static/img/navbar/AUTOINSIGHTS-PURPLE.png" alt="">
        </div>
    </header>
    {% endif %}
    {% block body %}{% endblock %}
    <!-- Pie de página -->
    <footer class="footer">
        <div class="footer_logos">
            <img width="250px" src="/static/img/footer/AUTOINSIGHTS-WHITE.png" alt="">
            <div class="footer_mini_logos">
                <img src="/static/img/footer/PURPLE.png" alt="">
                <img src="/static/img/footer/LIGHT-GRAY.png" alt="">
                <img src="/static/img/footer/DARK-GRAY.png" alt="">
                <img src="/static/img/footer/WHITE.png" alt="">
            </div>
        </div>
        <p>&copy; 2024 Auto Insights. Todos los derechos reservados.</p>
    </footer>
    <script src="{{ url_for('static', filename='js/signature.js') }}"></script>   
</body>
</html>