{% extends "layout.html" %}
{% block body %}
<div class="contenedor-app">
    <img width="384px" height="375px" src="/static/img/logo.png" alt="">
    <div class="formulario">
        <h2>Crear Cuenta</h2>
        <form action="{{ url_for('register') }}" method="POST">
            <div class="form-style">
                <div class="names-input">
                    <input type="text" id="name" name="name" placeholder="Nombre(s)" required>
                    <input type="text" id="lastname" name="lastname" placeholder="Apellido(s)" required>
                </div>
                <input type="email" id="username" name="username" placeholder="Correo electrónico" required>
                <input type="password" id="password" name="password" placeholder="Contraseña" required>
                <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirmar contraseña"
                    required>
                <button type="submit">Registrarse</button>
                <p>¿Ya tienes una cuenta? <a href="{{ url_for('login') }}">Inicia sesión aquí</a>.</p>
            </div>
        </form>
    </div>
</div>
{% endblock %}